@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';

.projectsContainer {
    padding-bottom: 100px;
}
.projectsSubHeader {
    color: $PRIMARY;
    font-size: $XSMALL;
    font-weight: 700;
}
.projectsMainHeader {
    color: $BLACK;
    font-size: $MEDIUM;
    font-weight: 900;
}
.projectsListContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}