@import '../../../assets/colors.scss';
@import '../../../assets/sizes.scss';

a {
    text-decoration: none;
}
.projectsCardContainer {
    border-radius: 6px;
    background-color: $WHITE;
}
.projectsCardImg {
    width: 100%;
}
.projectsCardTextContainer {
    padding: 12px;
    padding-top: 2px;
    padding-bottom: 10px;
}
.projectsCardDescription {
    font-size: $XXSMALL;
    font-weight: 900;
    color: $BLACK;
    margin-top: 6px;
}
.projectsCardLink {
    color: $PRIMARY;
    font-size: 12px;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}
.projectsCardLink:hover {
    opacity: 0.7;
}