@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';

p {
    margin: 0px;
    padding: 0px;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
.homeContainer {
    display: flex;
    flex-direction: row;
}
.homeLeft {
    height: 100vh;
    margin-top: 18%;
    font-weight: 900; 
    font-size: $SMALL;
    color: $BLACK;
}
.homeRight {
    margin-top: 5%;
    margin: auto;
}
.homeTextColor {
    color: $PRIMARY;
}
.homeHeader {
    font-size: $XXLARGE;
    font-weight: 700;
    margin: 0;
}
.homeDescriptionText {
    font-weight: 500;
    font-size: $XSMALL;
    color: $GREY;
}
.homeButtonContainer {
    margin-top: 45px;
}
.homeButton {
    border-radius: 30px;
    padding: 6px;
    padding-left: 24px;
    padding-right: 24px;
    border: 3px solid;
    font-size: $XSMALL;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
}
.homeButtonResume {
    color: $WHITE;
    background-color: $PRIMARY;
    border-color: $PRIMARY;
    margin-right: 14px;
    transition: all 0.4s ease-in-out;
}
.homeButtonResume:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 105, 124, 1); 
}
.homeButtonChat {
    color: $PRIMARY;
    background-color: transparent;
    border-color: $PRIMARY;
    transition: all 0.4s ease-in-out;
}
.homeButtonChat:hover {
    box-shadow: 0 5px 15px rgba(255, 105, 124, 1); 
}
