@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';

.tlContainer {
    padding-bottom: 80px;
}
.tlSubHeader {
    color: $PRIMARY;
    font-size: $XSMALL;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.tlMainHeader {
    color: $BLACK;
    font-size: $MEDIUM;
    font-weight: 900;
}
.tlExperienceContainer {
    margin-top: 40px;
}
